<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/header %>


        <title>Mis Turnos</title>
</head>

<body>

    <header>

        <div class="container-fluid d-none d-lg-block d-xl-none d-xl-block" id="cabecera">
            <div class="row justify-content-end">
                <div class="col-2 pt-3">
                    <a href="#"><i class="fab fa-facebook-square fa-2x ml-3"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x ml-3"></i></a>
                </div>
            </div>
        </div>

    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/menuUsuario">
                <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Consultorios Sagrada Familia
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

        </div>
    </nav>

    <div class="container">
        <div class="table-responsive-xl">
            <table class="table">
                <thead>
                    <tr>
                        <th scope=" col ">Fecha</th>
                        <th scope="col ">Hora</th>
                        <th scope="col ">Doctor</th>
                        <th scope="col ">Modalidad</th>
                        <th scope="col ">Valor</th>
                        <th scope="col ">Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <%for(var i = 0; i < turnos.length; i++){%>
                        <tr>
                            <td>
                                <%= turnos[i].fecha %>
                            </td>
                            <td>
                                <%= turnos[i].hora %>
                            </td>
                            <td>
                                <%= turnos[i].apellidoDoctor +" "+ turnos[i].nombreDoctor%>
                            </td>
                            <td>
                                <%= turnos[i].nombreModalidad%>
                            </td>
                            <td>
                                $
                                <%= turnos[i].valorConsulta%>
                            </td>
                            <td>
                                <% if(turnos[i].atendido == 1){%>
                                    Atendido
                                    <%}else if(turnos[i].atendido == 2){%>
                                        En sala
                                        <%}else if(turnos[i].atendido == 3){%>
                                            Cancelado
                                            <%}else if(turnos[i].atendido == 0){%>
                                                Turno vigente
                                                <%}%>

                            </td>
                        </tr>
                        <% }%>
                </tbody>


            </table>
        </div>

    </div>

</body>

</html>